.podcast-section{
    width: 100%;
    margin: auto;
    background-color: var(--header-bg-color);
}
.podcast-section .podcast-main{
    padding: 50px;
}
.podcast-section .podcast-main .podcast-title{
    width: 60%;
    margin: auto;
}
.podcast-section .podcast-main h2{
    font-size: 3rem;
    color: var(--header-color);
    text-align: center;
    margin-bottom: 20px;
}
.podcast-section .podcast-main p{
    font-size: 1rem;
    color: var(--header-color);
    text-align: center;
    margin-bottom: 30px;
}
.podcast-section .podcast-main .podcast-carousal{
    width: 1200px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.podcast-section .podcast-main .podcast-carousal .carousel{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.podcast-section .podcast-main .podcast-carousal .carousel .slide img{
    width: 100%;
}
.podcast-section .podcast-main .podcast-carousal .carousel .thumbs-wrapper{
    width: 100%;
    padding: 0;
    margin: auto;
}
.podcast-section .podcast-main .podcast-carousal .carousel .thumbs-wrapper ul{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.podcast-section .podcast-main .podcast-carousal .carousel .thumbs .thumb{
    flex: 25%;
    width: 25%;
    padding: 0px;
    height: 120px;
}
.podcast-section .podcast-main .podcast-carousal .carousel .thumbs .selected{
    padding-bottom: 2px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--header-color);  
}
.podcast-section .podcast-main .podcast-carousal .carousel .thumbs .thumb:hover{
    padding-bottom: 2px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--header-color);
}
.podcast-section .podcast-main .podcast-carousal .carousel .thumbs .thumb img{
    width: 100%;
    height: 120px;
    padding: 0px;
}
.podcast-section .podcast-main h3{
    font-size: 1rem;
    color: var(--header-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.podcast-section .podcast-main .podcast-icons{
    display: flex;
    justify-content: center;
    list-style: none;
}
.podcast-section .podcast-main .podcast-icons li .icon-image img{
    width: 50px;
    height: 50px;
    padding: 2px;
} 
@media only screen and (max-width: 1200px) {
    .podcast-section .podcast-main .podcast-carousal{
        width: 990px;
    }
}
@media only screen and (max-width: 992px) {
    .podcast-section .podcast-main .podcast-carousal{
        width: 760px;
    }
    .podcast-section .podcast-main h2{
        font-size: 2.5rem;
    }
    .podcast-section .podcast-main p{
        font-size: .9rem;
    }
}
@media only screen and (max-width: 767px) {
    .podcast-section .podcast-main .podcast-carousal{
        width: 560px;
    }
    .podcast-section .podcast-main .podcast-title{
        width: 80%;
        margin: auto;
    }
    .podcast-section .podcast-main h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 576px) {
    .podcast-section .podcast-main .podcast-carousal{
        width: 90%;
    }
    .podcast-section .podcast-main .podcast-carousal .carousel .thumbs .thumb{
        height: 60px;
    }
    .podcast-section .podcast-main .podcast-carousal .carousel .thumbs .thumb:hover{
        height: 60px;
    }
    .podcast-section .podcast-main .podcast-carousal .carousel .thumbs .thumb img{
        height: 60px;
    }
    .podcast-section .podcast-main .podcast-title{
        width: 100%;
        margin: auto;
    }
    .podcast-section .podcast-main p{
        font-size: .8rem;
    }
    .podcast-section .podcast-main h3{
        font-size: .7rem;
    }
    .podcast-section .podcast-main .podcast-icons li .icon-image img{
        width: 30px;
        height: 30px;
    } 
}