.precise-main{
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precise-main .precise-container{
    width: 1200px;
    margin: 200px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precise-main .precise-container .precise-content h2{
    color: var(--header-color);
    font-size: 3rem;
    margin-bottom: 10px;
}
.precise-main .precise-container .precise-content p{
    color: var(--header-color);
}
.precise-main .precise-container .precise-image{
    text-align: right;
}
.precise-main .precise-container .precise-image img{
    width: 70%;
}
@media only screen and (max-width: 1200px) {
    .precise-main .precise-container{
        width: 990px;
    }
}
@media only screen and (max-width: 992px) {
    .precise-main .precise-container{
        width: 760px;
    }
}
@media only screen and (max-width: 767px) {
    .precise-main .precise-container{
        width: 560px;
    }
    .precise-main .precise-container .precise-content h2{
        font-size: 2rem;
    }
    .precise-main .precise-container .precise-content p{
        font-size: .9rem;
    }
}
@media only screen and (max-width: 576px) {
    .precise-main .precise-container{
        width: 95%;
        margin: 100px auto 100px;
    }
    .precise-main .precise-container .precise-content h2{
        font-size: 1.3rem;
    }
    .precise-main .precise-container .precise-content p{
        font-size: .7rem;
    }
}